.margin-18 {
    margin-top: -18px;
}

.d-flex {
    display: flex;
}

.mt-20 {
    margin-top: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.justfiyFlexEnd {
    justify-content: flex-end;
}

/* Style the buttons that are used to open and close the accordion panel */

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .painel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .textBanner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #prev {
    padding-right: 20px;
  }

  #next,  #prev {
    cursor: pointer;
    font-weight: bold;
    color: #4db6ac;
  }

  #box {
    display: flex;
  }

  .cardBox {
    border:1px solid red;
    width: 100%;
    max-width: 33%;
    margin-bottom: 40px;
  }